<div class="row">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: '150x150', class: "image-fit" %>
  <% end %>
  
  <p><%= @user.name %></p>
  
 <% if logged_in? && current_user.id != @user.id %>
    <%= render 'relationships/follow_button', user: @user %>
  <% end %>
  
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Microposts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render 'posts/posts', posts: @posts %>
      </ol>
    <% end %>
  </div>
</div>